apiVersion: 1

providers:
  - name: "security-dashboard"
    orgId: 1
    folder: "Security"
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /var/lib/grafana/dashboards
